html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.tooltip-container {
    position:relative;
}

.bottom-label {
    background:     rgba(0,0,0,0.4);
    bottom:         0%;
    color:          #FFFFFF;
    cursor:         default;
    font-family:    'Dosis', sans-serif;
    font-size:      14px;
    position:       relative;
    text-align:     right;
    width:          100%;
}

.bottom-label div {
    padding:        10px;
}

.overlay-300-center {
    background:     #FFFFFF;
    border:         1px solid rgba(0,0,0,0.5);
    border-radius:  3px;
    box-shadow:     2px 2px 8px #000;
    color:          #de1212;
    left:           50%;
    top:            30%;
    margin-left:    -150px;
    padding:        10px;
    position:       fixed;
    text-align:     right;
    width:          300px;
    z-index:        99999;
}

.overlay-300-center .icon {
    display:    inline-block;
    font-size:  38px;
    text-align: left;
}

.overlay-300-center .warning {
    display:        inline-block;
    font-weight:    bold;
    line-height:    16px;
    padding-left:   10px;
    text-align:     left;
    vertical-align: middle;
    width:          80%;
}

.overlay-300-center .description {
    color:          #000000;
    font-size:      13px;
    padding-top:    10px;
    text-align:     left;
}

.color-white {
    color: #FFFFFF;
}
