html, body {
    margin:     0;
    padding:    0;
    width:      100%;
}

body {
    background: #FCFBFB;
}

#window {
    font-family:    'Mandali', sans-serif;
    min-height:     100%;
    width:          80%;
    margin:         auto;
}

#window-top {

}

#header {
    display:    -webkit-flex;
    padding:    30px 20px 15px 20px;
    margin:     0;
    -webkit-justify-content: space-between;
        -webkit-align-items: center;
}

#header-left {
    line-height:30px;
}

#app-name {
    font-family: 'Hind', 'Alef', sans-serif;
    font-size: 48px;
    line-height: 40px;
    text-transform: lowercase;
}

#user-center {
    display:-webkit-flex;
    padding: 10px;
    -webkit-flex-direction:column;
    -webkit-align-items:center;
}

#user-center:hover {
    border-radius: 8px;
    box-shadow: 0 0 10px #eee;
    cursor: pointer;
    background: #eee;
}

.menu {
    /*border-top: 1px solid #aaa;*/
    border-bottom: 1px solid #aaa;
    display: -webkit-flex;
    padding: 0 10px 10px 10px;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.menu div > a {
    color:              #444;
    font-family:        'Alef';
    font-size:          14px;
    font-weight:        500;
    margin:             0 5px;
    padding:            0;
    text-decoration:    none;
}

.menu div > a:hover {
    color:          #DE1212;

}

.sub-menu > a {
    font-family:        'Ubuntu';
    font-size:          17px;
    font-variant:       small-caps;
    font-weight:        500;
    margin:             0 5px 0 0;
    padding:            0;
    text-decoration:    none;
    text-transform:     lowercase;
}

.sub-menu > a:hover {
    color: #DE1212;
}

.searchbox input {
    background:            #FFFFFF;
	background-image:      url('/public/images/system/search-black.png');
    background-repeat:     no-repeat;
	background-size:       19px;
    background-position:   2px 6px;
    border:                1px solid #DDDDDD;
    border-radius:         8px;
    color:                 #000;
	font-size:             14px;
    line-height:           14px;
    padding:               6px 4px 6px 14px;
    width:                 210px;
    font-family:           'Alef', sans-serif;
    outline:               none;
    -webkit-appearance:    textfield;
       -moz-appearance:    textfield;
}

.searchbox input:focus {
  box-shadow: 0 0 10px #ddd;
}

.searchbox input:-moz-placeholder { color:#aaa; }
.searchbox input::-moz-placeholder { color:#aaa; }
.searchbox input:-ms-input-placeholder { color:#aaa; }
.searchbox input::-webkit-input-placeholder { color:#aaa; }
