
.content-window {
    background:     rgba(0,0,0,.2);
}

.content-window-float {
    background:     #FFFFFF;
    border:         none;
    border-radius:  8px;
    box-shadow:     0px 0px 10px #111;
    margin:         24px auto;
    width:          50%;
}

#user, #rights {
    font-family:    "Raleway", sans-serif;
    font-size:      15px;
    margin:         0;
    padding:        0;
}

.content-window-float-header {
    background:     #1188BB;
    border-radius:  4px 4px 0 0;
    color:          #FFFFFF;
    font-size:      22px;
    padding:        10px;
    text-align:     center;
}

.content-window-float-body {
    padding: 10px;
}

.content-window-fieldset {
    background:     rgba(248,248,248,1);
    border:         none;
    border-radius:  6px;
    color:          #1188BB;
    margin-top:     10px;
    padding:        10px;
}

.content-window-div-row {
    display:    inline-block;
    padding:    0px 0 15px 0;
    width:      49%;
}

.content-window-full-width-row-container {
    width:      100%;
}

.content-window-div-row-45 {
    display:    inline-block;
    color:      #000000;
    width:      45%;
    padding:    0 10px 10px 10px;
}

.content-window-fieldset-label {
    color:      #000;
    font-style: italic;
    padding:    10px 10px 15px 10px;
}

.content-window-fieldset-label > span {
    color:          #DE1212;
    font-weight:    bold;
}

input[type="text"],
input[type="password"] {
    border:             1px solid rgba(0,0,0,0.3);
    font-family:        "Verdana","Helvetica", sans-serif;
    font-size:          13px;
    font-weight:        normal;
    padding:            4px;
    width:              100%;
    max-width:          100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

select {
    border:             1px solid rgba(0,0,0,0.3);
    border-radius:      0px;
    display:            inline-block;
    cursor:             pointer;
    font-size:          13px;
    width:              100%;
    padding:            4px 0 4px 8px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select {
    font-size:  15px;
    position:   relative;
}

.select::after {
    border-bottom:      1px solid rgba(0,0,0,0.5);
    color:              rgba(0,0,0,0.8);
    content:            "< >";
    font-size:          12px;
    font-family:        "Raleway", "Consolas", sans-serif;
    padding:            0px 0 3px 0;
    position:           absolute;
    top:                0px;
    right:              4px;
    -webkit-transform:  rotate(90deg);
       -moz-transform:  rotate(90deg);
        -ms-transform:  rotate(90deg);
            transform:  rotate(90deg);
}

.button {
	cursor:                 pointer;
    display:                inline-block;
    font-family:            'Verdana', 'Arial', sans-serif;
    font-size:              13px;
    padding:                6px 15px;
    text-align:             center;
    text-decoration:        none;
    width:                  auto;
    -webkit-border-radius:  6px;
       -moz-border-radius:  6px;
            border-radius:  6px;
    -webkit-user-select:    none;
     -khtml-user-select:    none;
       -moz-user-select:    none;
        -ms-user-select:    none;
}

.button:active {
    position:   relative;
    top:        1px;
}

.default {
	color:              #000000;
    background-color:   #ededed;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    border: 1px solid #aaa;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
    margin-top:8px;
}

.default:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
