#dragzone .label {
    width: 30%;
}

#dragzone .input {
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    font-size:                  14px;
    height:                     150px;
    width:                      59%;
    -webkit-flex-direction:     column;
            flex-direction:     column;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

.profile-image-container {
    background:                 rgba(245,248,249,1);
    border:                     1px solid #ccc;
    border-radius:              4px;
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    height:                     150px;
    width:                      150px;
    -webkit-align-items:        center;
            align-items:        center;
    -webkit-justify-content:    center;
            justify-content:    center;
}

.beware-label {
    color:          #DE1212;
    font-size:      14px;
}
