div#form-container {
    width:100%;
}

form#article {
    font-family: 'Verdana';
    display:-webkit-flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
}

form#article div#left-side {
    padding:20px 30px 8px 25px;
    width:70%;
}

form#article div#right-side {
    border-left:1px solid rgba(0,0,0,.3);
    width:30%;
    min-width:210px;
    background: #eee;
}

form#article fieldset {
    border:none;
	margin:0;
	padding:0;
	width:100%;
}

form#article div#left-side fieldset {
    padding:0px 0 12px 0;
}

form#article div#left-side fieldset legend {
    font-size:14px;
    padding-bottom:2px;
}

form#article div#left-side fieldset.textarea legend {
    padding-bottom:6px;
}

form#article div#left-side fieldset legend#small-headline {
    font-size:13px;
    padding-top:12px;
}

form#article div.add-input {
    font-size:12px;
    float:right;
    cursor:pointer;
    padding:6px 0 0 0;
}

form#article div.add-input:hover {
    color: #de1212;
}

form#article div.add-input span {
    color:#de1212;
    font-weight:bold;
}

form#article input[type="text"],
form#article input[type="date"],
form#article textarea {
    font-family: 'Helvetica', sans-serif;
    border:1px solid rgba(0,0,0,0.3);
    padding:4px;
	width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form#article input[type="text"] {
	font-size:14px;
}

form#article textarea {
    font-size:14px;
	margin:4px 15px 4px 0;
}

form#article textarea#preamble {
    height:130px;
}

form#article textarea#body {
    height:400px;
}

form#article textarea#fact {
    width:100%;
    height:100px;
}

form#article fieldset.dragzone {
    border:1px dashed rgba(0,0,0,.3);
    margin-bottom:12px;
}

form#article fieldset.dragzone legend {
    padding-left:8px;
}

form#article fieldset.dragzone div.dragzone {
    text-align:center;
    font-size:15px;
    padding:20px;
    width:50%;
    margin:auto;
    position:relative;
}

form#article fieldset.dragzone div.dragzone:after {
	content:"";
	background-image:url("/public/images/system/big-arrow-down-black.png");
	background-repeat:no-repeat;
	background-position:center;
	opacity: 0.1;
    z-index:1;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	position:absolute;
	pointer-events: none;
}

form#article fieldset.dragzone div.dragzone div.browse-box {
    padding:10px 0 15px 0;
}

form#article fieldset.dragzone div.dragzone div.gallery-box {
    padding:10px 0 0 0;
}

form#article fieldset.dragzone div.dragzone div.gallery-box span {
    color:#de1212;
    cursor:pointer
}

form#article fieldset.image-cover div.picture-box {
    padding:10px 5px;
    text-align: center;
}

form#article fieldset.image-slideshow div.picture-box-container {
    padding:10px 5px;
}

form#article fieldset.image-slideshow div.picture-box-container div.picture-box {
    display:-webkit-flex;
    width:70%;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:4px;
    margin:0 auto;
    margin-bottom:8px;
    padding:10px;
}


form#article fieldset.image-cover div.picture-box div.picture {
    width:70%;
    min-width:150px;
    display:inline-block;
}

form#article fieldset.image-cover div.picture-box div.picture > img {
    width:100%;
    min-width:150px;
}


form#article fieldset.image-slideshow div.picture-box-container div.picture-box div.picture {
    width:20%;
    min-width:90px;
    padding-right:8px;
}

form#article fieldset.image-cover div.picture-box div.caption {
    width:70%;
    font-size:13px;
    display:inline-block;
}

form#article fieldset.image-cover div.picture-box div.caption div {
    padding-bottom:2px;
}

form#article fieldset div.picture-box div.image-event-button {
    color:#de1212;
    cursor:pointer;
    font-size:13px;
}

form#article fieldset div.picture-box div.image-event-button:hover {
    color:#000;
}

form#article fieldset.image-slideshow div.picture-box-container div.picture-box div.caption {
    width:80%;
    display:-webkit-flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction:column;
    -webkit-justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}

form#article fieldset.image-slideshow div.picture-box div.image-event-button {
    -webkit-align-self: flex-end;
    align-self: flex-end;
}

form#article fieldset.image-slideshow div.preview {
    display:-webkit-flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content:space-around;
    -justify-content:space-around;
}

form#article fieldset.image-slideshow div.preview div.picture-box {
    width:25%;
    padding:10px 5px;
}

form#article div#right-side div.section {
    background:#ddd;
    padding:16px 15px;
}

form#article div.section div.subsection div:not(.add-input) {
    font-size:12px;
    padding:0 0 4px 0;
}

form#article div.section div.subsection div.label {
    font-weight:bold;
}

/* Apply to all but first div child of subsection */
form#article div.section div.subsection ~ div {
    padding:12px 0 2px 0;
}

form#article div#right-side div.section {
    border-bottom:1px solid rgba(0,0,0,.2);
}

form#article fieldset legend.section {
    font-variant:small-caps;
    font-size:16px;
    width:100%;
    padding:0px 0 8px 0;
    position:relative;
    background-image: url("/public/images/system/arrow-down.png");
    background-position: right;
    background-size:13px;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

form#article fieldset legend.section:hover {
    cursor:pointer;
}

form#article fieldset legend.section.hidden {
    background-image: url("/public/images/system/arrow-right.png");
}

form#article div#button {
    text-align: center;
}

form#article div.button {
    font-family: 'Verdana', 'Karla', sans-serif;
    font-size:14px;
    text-align:center;
    text-decoration:none;
    width:auto;
    padding:6px 15px;
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

form#article div.button:active {
    position: relative;
    top:1px;
}

form#article div.button.publish {
    color: #fff;
    font-weight: bold;
	background-color: #74ad5a;
    background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: linear-gradient(bottom, #74ad5a 5%, #68a54b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    text-shadow: 0px -1px 0px #92b879;
    border: 1px solid #3b6e22;
    -moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow: inset 0px 1px 0px 0px #9acc85;
	box-shadow: inset 0px 1px 0px 0px #9acc85;
}

form#article div.button.publish:hover {
    background-color: #68a54b;
    background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
}

form#article div.button.preview {
	color: #000;
    background-color: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    border: 1px solid #aaa;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
    margin-top:8px;
}

form#article div.button.preview:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

form#article fieldset select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    font-size:12px;
    width:100%;
    padding: 8px 0 8px 8px;
    border:none;
    border-radius: 4px;
    display:inline-block;
    cursor:pointer;
}

form#article fieldset label.select {
    position: relative;
    font-size:15px;
}

form#article fieldset label.select::after {
    content: "< >";
    font-size: 12px;
    font-family: "Raleway", "Consolas", sans-serif;
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding:3px 0 3px 0;
    position: absolute;
    top: 1px;
    right: 4px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}

form#article input[type="text"].error,
form#article textarea.error {
    background-image:url('/public/images/system/admin/menu/caution.png');
    background-repeat:no-repeat;
	background-size: 17px;
    padding-right:24px;
}

form#article input[type="text"].error { background-position: 99% 3px; }
form#article textarea.error { background-position: 99% 50%; }

form#article div.error {
    font-size:14px;
    color:#de1212;
    padding:4px;
}
