body {
    background: #1188bb;
    margin:     0;
    padding:    0;
}

#window {
    background:     #FFFFFF;
    margin:         24px auto;
    max-width:      900px;
    width:          90%;
    border:         3px solid #EEEEEE;
    border-top:     none;
    border-radius:  4px;
}

#window-header {
    display:                -webkit-box;
    display:                -moz-box;
    display:                -ms-flexbox;
    display:                -moz-flex;
    display:                flex;
    display:                -webkit-flex;
    -webkit-align-items:    bottom;
            align-items:    bottom;
}

.appname {
    border-bottom:  2px solid #EEEEEE;
    font-family:    "Dosis", "Raleway", sans-serif;
    font-size:      39px;
    line-height:    39px;
    text-transform: lowercase;
    font-variant:   small-caps;
    padding:        10px 0 10px 0px;
    text-align:     center;
    -webkit-flex:   2;
            flex:   2;
}

.quick-button {
    background:     rgba(80,170,80,1);
    border-left:    2px solid rgba(80,170,80,1);
    border-right:   2px solid rgba(80,170,80,1);
    border-bottom:  2px solid rgba(80,170,80,1);
    cursor:         pointer;
    font-size:      17px;
    font-family:    "Raleway", sans-serif;
    padding:        20px 0 20px 0;
    text-align:     center;
    -webkit-flex:   1;
            flex:   1;
}

.quick-button:active {
    box-shadow: inset 1px 1px 10px #118844;
}

.quick-button a {
    color:          #fff;
    text-decoration: none;
}

.quick-button:hover a {
    color:          #333333;
}

.quick-button .font-icon {
    font-size:      18px;
    margin-right:   0.1em;
    width:          1em;
}

.notification-center {
    border-bottom:              2px solid #EEEEEE;
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    font-size:                  17px;
    width:                      10%;
    max-width:                  70px;
    min-width:                  50px;
    padding:                    20px;
    -webkit-flex:               1;
            flex:               1;
    -webkit-justify-content:    center;
            justify-content:    center;
}

.notification {
    color: #FFFFFF;
}

.notification .font-icon {
    color:          #000000;
    margin-right:   0.1em;
}

.notification-bubble {
    background:     #DE1212;
    border-radius:  4px;
    font-family:    'Raleway','Dosis', sans-serif;
    font-weight:    bold;
    font-size:      14px;
    padding:        2px 6px 2px 6px;
}

.notification-center:hover .notification {
    color: #000;
    cursor: pointer;
}

.user-center {
    border-bottom:              2px solid #EEEEEE;
    border-left:                2px solid #EEEEEE;
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    font-size:                  17px;
    max-width:                  200px;
    min-width:                  200px;
    width:                      20%;
    -webkit-flex:               2;
            flex:               2;
    -webkit-align-items:        center;
            align-items:        center;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

.user-center:hover {
    background: #EEEEEE;
    color:      #DE1212;
    cursor:     pointer;
}

.user-center:hover > .sub-menu {
    background: #FFFFFF;
    color: #000;
}

.user-menu {
    font-family:            "Raleway", sans-serif;
    background-image:       url("/public/images/system/arrow-down.png");
    background-position:    right center;
    background-size:        13px;
    background-repeat:      no-repeat;
    padding-right:          19px;
}

.sub-menu {
    background:         #FFFFFF;
    border:             1px solid #EEEEEE;
    border-top:         none;
    display:            none;
    font-family:        "Raleway", sans-serif;
    font-size:          16px;
    position:           absolute;
    left:               -2px;
    top:                100%;
    width:              100%;
}

.sub-menu ul {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}

.sub-menu ul li {
    padding:    10px;
}

.sub-menu ul li:hover {
    background: #EEEEEE;
}

#menu {
    border-bottom:              2px solid #EEEEEE;
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    -webkit-justify-content:    center;
            justify-content:    center;
}

#menu a {
    text-decoration: none;
}

#menu div {
    color:          #444444;
    font-family:    "Raleway", sans-serif;
    font-size:      17px;
    padding:        10px;
}

#menu div:hover {
    color:          #1188BB;
    cursor:         pointer;
}

#menu div.active {
    background:     rgba(240,240,240,1);
}

#work-area {
    background: rgba(230,230,230,1);
    background: #FFF;
}

.split-view {
    display:    -webkit-box;
    display:    -moz-box;
    display:    -ms-flexbox;
    display:    -moz-flex;
    display:    flex;
    display:    -webkit-flex;
    margin:     auto;
    width:      85%;
}

.left-view {
    padding:            10px;
    -webkit-flex-grow:  2;
            flex-grow:  2;
}

.right-view {
    min-width:          170px;
    padding:            10px;
    -webkit-flex-grow:  1;
            flex-grow:  1
}

.quick-menu {
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    padding:                    6px 4px 12px 2px;
    -webkit-align-items:        center;
            align-items:        center;
    -webkit-justify-content:    flex-start;
            justify-content:    flex-start;
}

.quick-menu a {
    text-decoration:    none;
    color:              #fff;
}

.quick-menu-button {
    display:            inline;
    background:         #c66;
    border-radius:      16px;
    font-family:        'Raleway', sans-serif;
    padding:            8px 18px 8px 18px;
    margin:             0 5px 0 5px;
    text-decoration:    none;
}

.quick-menu-button.active {
    background: #ddd;
    color:      #444;
}

.quick-menu-button:hover {
    background: #a55;
    color:      #FFF;
    cursor:     pointer;
}

.div-table {
    border-radius:  8px 8px 0 0;
    width:          100%;
}

.div-table-row {
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    -webkit-flex;
    display:                    flex;
    font-family:                "Noto Sans", "Helvetica", "Verdana", "Arial", sans-serif;
    font-size:                  13px;
    padding:                    8px 5px 8px 10px;
    -webkit-align-items:        center;
            align-items:        center;
    -webkit-box-orient:         vertical;
       -moz-box-orient:         vertical;
    -webkit-box-pack:           center;
       -moz-box-pack:           center;
       -ms-flex-pack:           center;
    -webkit-justify-content:    space-between;
            justify-content:    space-between;
}

.div-table-header {
    border-radius:  4px 4px 0 0;
    border-top:     2px solid #ccc;
    border-left:    2px solid #ccc;
    border-right:   2px solid #ccc;
    border-bottom:  1px solid #ccc;
    background:     #FFF;
    color:          #666;
    font-size:      14px;
    padding-bottom: 8px;
}

.div-table-row div:not(:first-of-type) {
    text-align: center;
}

.header-size-2 {
    -webkit-flex: 2;
}

.header-size-1 {
    -webkit-flex: 1;
}

.div-table-content {
    border-right:   2px solid #ccc;
    border-left:    2px solid #ccc;
    border-bottom:  1px solid #ccc;
}

.div-table-content:last-of-type {
    border-bottom: 2px solid #ccc;
}

.div-table-content:nth-child(odd) {
    background: rgba(255,255,255,1)
}

.div-table-content:nth-child(even) {
    background: rgba(245,245,245,1);
}

.div-table-content:hover {
    background: rgba(15,165,195,.5);
    cursor:     pointer;
}

fieldset.dragzone.highlight {
	border: 2px dashed #0B85A1;
}

.searchbox input {
    background:            rgba(245,248,249,1);
	background-image:      url('/public/images/system/search-black.png');
    background-repeat:     no-repeat;
	background-size:       19px;
    background-position:   2px 4px;
    border:                1px solid #ccc;
    border-radius:         5px;
    color:                 #000;
	font-size:             14px;
    padding:               6px 0px 6px 16px;
    width:                 250px;
    font-family:           'Numans', 'Raleway', sans-serif;
    outline:               none;
    -webkit-appearance:    textfield;
       -moz-appearance:    textfield;
}

.searchbox input:focus {
  box-shadow: 0 0 2px rgba(255,255,255, 1);
}

.searchbox {
    text-align:         right;
    -webkit-flex-grow:  3;
            flex-grow:  3;
}

.searchbox input:-moz-placeholder { color:#aaa; }
.searchbox input::-moz-placeholder { color:#aaa; }
.searchbox input:-ms-input-placeholder { color:#aaa; }
.searchbox input::-webkit-input-placeholder { color:#aaa; }

.modal-window {
    background:     #FFFFFF;
    border:         1px solid #CCCCCC;
    border-radius:  5px;
    box-shadow:     1px 1px 10px #AAAAAA;
    font-family:    'Raleway', sans-serif;
    position:       fixed;
    top:            40%;
    left:           40%;
    width:          300px;
}

.modal-window-header {
    color:          #222222;
    font-family:    'Raleway', sans-serif;
    font-size:      19px;
    padding:        20px 20px 0 20px;
    text-align:     center;
}

.modal-window-body {
    color:      #333333;
    font-size:  13px;
    padding:    20px 30px 30px 30px;
    text-align: center;
}

.modal-window-body > img {
    width:      64px;
}

.modal-window-footer {
    background:     #666666;
    border-radius:  0 0 5px 5px;
    color:          #FFFFFF;
    text-align:     right;
}

.modal-window-button {
    background:     #119955;
    border-radius:  0 0 5px 0px;
    cursor:         pointer;
    font-weight:    bold;
    margin:         0 0 0 auto;
    padding:        10px;
    text-align:     center;
    width:          20%;
}

.modal-window-button:hover {
    background: #11BB55;
}

.modal-window-button:active {
    box-shadow: inset 1px 1px 10px #119955;
}

.post-container {
    border:         1px solid #ccc;
    font-family:    'Noto Sans', sans-serif;
    margin-bottom:  8px;
}

.post-body-container {
    padding:        8px 15px;
}

.post-header {
    border-bottom:  1px solid #ccc;
    font-weight:    bold;
    padding:        4px 0 8px 0;
    margin:         0 0 8px 0;
    width:          100%;
}

.post-body {
    font-family:    'Noto Sans', sans-serif;
    font-size:      14px;
}

.post-footer {
    background: #EEEEEE;
    border-top: 1px solid #ccc;
    font-size:  13px;
    padding:    6px 15px;
}
