html, body {
    width: 100%;
    margin: 0;
}

body {
    background: #1188bb;
    margin: 0;
    padding:0;
}

#window {
    background: #FFFFFF;
    margin:     24px auto;
    max-width:  900px;
    width:      90%;
    border: 3px solid #eee;
    border-top: none;
    border-radius: 4px;

}

#window-header {
    display:        -webkit-box;
    display:        -moz-box;
    display:        -ms-flexbox;
    display:        -moz-flex;
    display:        flex;
    display:        -webkit-flex;
    -webkit-align-items: bottom;
}

.appname {
    border-bottom:  2px solid #eee;
    font-family:    "Dosis", "Raleway", sans-serif;
    font-size:      39px;
    line-height:    39px;
    text-transform: lowercase;
    font-variant:   small-caps;
    padding:        10px 0 10px 0px;
    text-align:     center;
    -webkit-flex:   3;
            flex:   3;
}

.quick-button {
    background:     #eee;
    border-left:    2px solid #eee;
    border-right:   2px solid #eee;
    border-bottom:  2px solid #eee;
    font-size:      17px;
    font-family:    "Raleway", sans-serif;
    padding:        20px 0 20px 0;
    text-align:     center;
    -webkit-flex:   1;
            flex:   1;
}

.quick-button:hover {
    background:     rgba(80,170,80,1);
    border-left:    2px solid rgba(80,170,80,1);
    border-right:   2px solid rgba(80,170,80,1);
    border-bottom:  2px solid rgba(80,170,80,1);
    cursor:         pointer;
    color:          #FFFFFF;
}

.quick-button .font-icon {
    font-size:      18px;
    margin-right:   0.1em;
    width:          1em;
}

.user-center {
    border-bottom:              2px solid #eee;
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    font-size:                  17px;
    width:                      30%;
    max-width:                  300px;
    min-width:                  250px;

    -webkit-flex:               2;
            flex:               2;
    -webkit-align-items:        center;
            align-items:        center;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

.notification {
    color: #FFFFFF;
}

.notification .font-icon {
    color: #000000;
    margin-right: 0.1em;
}

.notification-bubble {
    background:     #DE1212;
    border-radius:  4px;
    font-family:    'Raleway','Dosis', sans-serif;
    font-weight:    bold;
    font-size:      14px;
    padding:        2px 6px 2px 6px;
}

.notification:hover {
    color: #000;
    cursor: pointer;
}

.user-menu {
    font-family:            "Raleway", sans-serif;
    background-image:       url("/public/images/system/arrow-down.png");
    background-position:    right center;
    background-size:        13px;
    background-repeat:      no-repeat;
    padding-right:          19px;
}

.user-menu:hover {
    color:  #DE1212;
    cursor: pointer;
}

#menu {
    border-bottom:              2px solid #ddd;
    display:                    -webkit-box;
    display:                    -moz-box;
    display:                    -ms-flexbox;
    display:                    -moz-flex;
    display:                    flex;
    display:                    -webkit-flex;
    -webkit-justify-content:    center;
            justify-content:    center;
}
#menu > div {
    color:          #444444;
    font-family:    "Raleway", sans-serif;
    font-size:      17px;
    padding:        10px;
}

#menu > div:hover {
    background:     rgba(250,250,250,1);
    color:          #1188BB;
    cursor:         pointer;
}

#work-area {
    background: #eee;
}

.split-view {
    display:    -webkit-box;
    display:    -moz-box;
    display:    -ms-flexbox;
    display:    -moz-flex;
    display:    flex;
    display:    -webkit-flex;
    margin:     auto;
    padding:    10px;
    width:      85%;
}

.left-view {
    padding:            10px;
    -webkit-flex-grow:  2;
            flex-grow:  2;
}

.quick-menu {
    background:                 #fff;
    border:                     1px solid #ddd;
    border-radius:              16px;
    padding:8px 0 8px 0;
    max-width: 300px;
    border: 1px solid #000;
}

.quick-menu-button {
    background:     #c55;
    border-radius:  16px;
    color:          #fff;
    font-family:    'Raleway', sans-serif;
    padding:        8px 18px 8px 18px;
}

.quick-menu-button.active {
    background: #FFFFFF;
    color:      #444444;
}

.quick-menu-button.active:hover {
    background: #a55;
    color: #FFF;
    cursor: pointer;
}
