#header {
    display:    -webkit-flex;
    display:    flex;
    padding:    30px 20px 15px 20px;
    margin:     0;
    -webkit-justify-content: space-between;
        -webkit-align-items: center;
            justify-content: space-between;
                align-items: center;
}

#header-left {
    line-height:            30px;
    padding:                20px;
    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
     -khtml-user-select:    none;
       -moz-user-select:    none;
        -ms-user-select:    none;
            user-select:    none;
}

#header-left:hover {
    color:          #000000;
}

#app-name {
    font-family:    'Hind', 'Alef', sans-serif;
    font-size:      48px;
    line-height:    40px;
    text-transform: lowercase;
}

#app-name > span {
    color: #DE1212;
}

#app-desc {
    text-align: right;
    font-size:  14px;
}

#user-center {
    position: relative;
}

#user-center > div:not(.user-menu) {
    display:        -webkit-flex;
    display:        flex;
    padding:        10px;
    -webkit-align-items:    center;
            align-items:    center;
    -webkit-flex-direction: column;
            flex-direction: column;
}

.header-button:hover {
    background:     #EEEEEE;
    border-radius:  8px;
    box-shadow:     0 0 10px #EEEEEE;
    color:          #666666;
    cursor:         pointer;
}

.header-button:active {
    position: relative;
    top: -1px;
}

.user-menu {
    border:             1px solid #DDD;
    border-radius:      8px;
    box-shadow:         0 0 10px #EEEEEE;
    display:            none;
    font-family:        "Mandali", sans-serif;
    font-size:          16px;
    margin-top:         5px;
    position:           absolute;
    left:               -2px;
    top:                99%;
    width:              100%;
}

.user-menu.active {
    background: #FFFFFF;
    color:      #000000;
    display:    block;
}

.user-menu ul {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}

.user-menu ul li {
    cursor:     pointer;
    padding:    10px;
}

.user-menu ul li:hover {
    background: #EEEEEE;
}


.menu {
    border-bottom:              1px solid #AAAAAA;
    display:                    -webkit-flex;
    display:                    flex;
    padding:                    0 10px 10px 10px;
    -webkit-justify-content:    space-between;
        -webkit-align-items:    center;
            justify-content:    space-between;
            align-items:        center;
}

.menu div > a {
    color:              #444444;
    font-family:        'Mandali', sans-serif;
    font-size:          16px;
    margin:             0 5px;
    padding:            0;
    text-decoration:    none;
}

.menu div > a:hover {
    color:          #DE1212;

}

.searchbox input {
    background:            #FFFFFF;
	background-image:      url('/public/images/system/search-grey.png');
    background-repeat:     no-repeat;
	background-size:       19px;
    background-position:   2px 6px;
    border:                1px solid #DDDDDD;
    border-radius:         8px;
    color:                 #000000;
	font-size:             14px;
    line-height:           14px;
    padding:               6px 4px 6px 14px;
    width:                 210px;
    font-family:           'Alef', sans-serif;
    outline:               none;
    -webkit-appearance:    textfield;
       -moz-appearance:    textfield;
}

.searchbox input:focus {
    box-shadow: 0 0 10px #DDDDDD;
}

.searchbox input:-moz-placeholder {
    color:      #AAAAAA;
    font-size:  14px;
    padding:    4px 0;
}

.searchbox input::-moz-placeholder {
    color:      #AAAAAA;
    font-size:  14px;
    padding:    4px 0;
}

.searchbox input:-ms-input-placeholder {
    color:      #AAAAAA;
    font-size:  14px;
    padding:    4px 0;
}
.searchbox input::-webkit-input-placeholder {
    color:      #AAAAAA;
    font-size:  14px;
    padding:    4px 0;
}

#work-area {
    height:     100%;
    width:      99%;
}

#sub-menu {
    padding:    0 10px;
    width:      100%;
}

#sub-menu ul {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}

#sub-menu ul li {
    background:     #FF7575;
    border-radius:  8px;
    display:        inline;
    font-family:    'Mandali', sans-serif;
    font-size:      15px;
    padding:        4px 10px;
}

#sub-menu ul li a {
    color:          #FFFFFF;
    text-decoration: none;
}

#sub-menu ul li:hover, #sub-menu ul li.active {
    background:     #FFBABA;
    color:          #444444;
    cursor:         pointer;
}

#sub-menu ul li.active {
    cursor:         default;
}

#sub-menu ul li:not(.active):active {
    position: relative;
    top: 1px;
}

#content {
    display:                    -webkit-flex;
    display:                    flex;
    padding:                    0 9px;
    width:                      100%;
    -webkit-justify-content:    space-between;
            justify-content:    space-between;
}

.content-full {
    margin-top: 20px;
    width:      100%;
}

.content-left {
    margin-top: 20px;
    width:      65%;
}

.content-left #sub-menu, .content-full #sub-menu {
    padding: 0 0;
}

.content-right {
    width: 30%;
    background: #F4F4F4;
    border-top: none;
}

.content-left > div, .content-full > div {
    margin-bottom: 20px;
}

.content-right > div {
    margin-top: 10px;
    padding: 10px;
}

.dropster-target-area {
    background:     rgba(250, 250, 250, 1);
    border:         2px dashed rgba(240,240,240,1);
    border-radius:  8px;
}

.dropster-highlight {
    background: #EEEEEE;
    border:     2px dashed #000;
}

.dropster-target-area {
    position:   relative;
}

.dropster-target-area::after {
    content:               "";
    background-image:      url("/public/images/system/big-arrow-down-black.png");
    background-repeat:     no-repeat;
    background-position:   top;
    background-size:       90px;
    opacity:               .1;
    z-index:               1;
    top:                   15%;
    left:                  0;
    bottom:                0;
    right:                 0;
    position:              absolute;
    pointer-events:        none;
}


select {
    background:         #FFFFFF;
    border:             1px solid #CCCCCC;
    border-radius:      4px;
    color:              #444444;
    display:            inline-block;
    cursor:             pointer;
    font-size:          12px;
    width:              100%;
    padding:            8px 0 8px 8px;
    outline:            none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

select:focus {
    border:         1px solid #BBBBBB;
    box-shadow:     0 0 10px #BBBBBB;
    padding:        8px 0px 8px 8px;
    margin:         2px 0px;
}

label.select {
    font-size:  15px;
    position:   relative;
    display:    block;
}

label.select::after {
    color:              rgba(0,0,0,0.8);
    content:            ">";
    font-size:          18px;
    font-family:        "Consolas", sans-serif;
    padding:            3px 0 3px 0;
    position:           absolute;
    top:                4px;
    right:              10px;
    -webkit-transform:  rotate(90deg);
       -moz-transform:  rotate(90deg);
        -ms-transform:  rotate(90deg);
            transform:  rotate(90deg);
    pointer-events:     none;
}
