@media all and (max-device-width: 480px), screen and (min-device-width : 320px) and (max-device-width : 568px), screen and (min-device-width : 375px) and (max-device-width : 667px), screen and (max-width: 740px) {

    #window {
        margin:     0;
        max-width:  100%;
        width:      100%;
        border:     none;
    }

}

@media all and (max-width: 640px) {

    .quick-button-text {
        display: none;
    }

    .quick-button .font-icon {
        font-size:      28px;
        margin-right:   0em;
    }

}

@media all and (max-device-width: 480px), screen and (min-device-width : 320px) and (max-device-width : 568px), screen and (min-device-width : 375px) and (max-device-width : 667px) {

    

}
