@media all and (max-width: 800px) {

    .menu-bar-ul li {
        font-size:      25px;
        padding:        15px 15px 15px 15px;
    }

}

@media all and (max-width: 650px) {

    .menu.font-icon {
        font-size: 18px;
    }

    .appname {
        line-height: 68px;
    }

    .long {
        display:none;
    }

    .short {
        display:        block;
        font-variant:   normal;
    }

    .version {
        font-size: 20px;
    }

    #menu-bar {
        min-width:  170px;
        width:      15%;
    }

    .menu-bar-ul li {
        font-size:20px;
    }

    /*li.sub-menu {
        padding-left:   25px;
    }*/

}
