.split-view {
    width: 100%;
}

.left-view {
    width:70%;
}

.div-table-drawer {
    background:                 #cdd;
    border:                     1px solid #ccc;
    border-top:                 none;
    color:                      #000;
    -webkit-justify-content:    center;
            justify-content:    center;
}

.div-table-drawer div {
    font-size:  14px;
    padding:    5px 5px;
}

.div-table-drawer a {
    color:              inherit;
    text-decoration:    none;
}

.div-table-drawer a:hover {
    color:      #0000DE;
}

.div-table-drawer .font-icon {
    font-size:13px;
}
