.quick-menu {

}

.split-view {
    width: 100%;
}

.left-view {
    width:70%;

}

.right-view {

}

.div-table-drawer {
    background:                 #ccc;
    background-image:           -webkit-linear-gradient(top, #ccc 5%, #ddd 100%);
    background-image:                   linear-gradient(top, #ccc 5%, #ddd 100%);
    color:                      #000;
    -webkit-justify-content:    center;
            justify-content:    center;
}

.div-table-drawer div {
    font-size:  17px;
    padding:    15px 5px 15px 5px;
}

.div-table-drawer a {
    color:              inherit;
    text-decoration:    none;
}

.div-table-drawer a:hover {
    color:      #0000DE;
}

.div-table-drawer .font-icon {
    font-size:19px;
}
