@media all and (max-width: 850px) {

    .flex-box {
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
    }

    .flex-box-left {
        width:100%;
    }

    .flex-box-right {
        display:                -webkit-box;
        display:                -webkit-flex;
        display:                -moz-box;
        display:                -ms-flexbox;
        display:                -moz-flex;
        display:                flex;
        -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
        width:                  100%;
    }
}
